html{
	height: 100% !important;
}
.login-image{
	display: block;
	text-align: center;
	margin: auto;
	background-size: cover;
	background-repeat: no-repeat;
	
	background-image: url(/console/resources/images/logo/minor_logo.png);
	width: 121px  !important;
	height: 81px !important;
}

.styled-body{
	background-image: url(/console/resources/images/main_backimage_large.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
}

.container-fluid {
	padding-top: 10% !important;
}

@media screen and (min-width: 1328px){
	.login-image{
		background-image: url(/console/resources/images/logo/logo.png);
		width: 201px  !important;
		height: 81px !important;
	}
}